# -*- mode: yaml -*-
dremio:
  config:
    services:
      coordinator.enabled: True,
      coordinator.master.enabled: True,
      executor.enabled: True
  core_site_config:
    configuration:
      property:
        - name: fs.dremioS3.impl
          value: com.dremio.plugins.s3.store.S3FileSystem
        - name: fs.s3a.aws.credentials.provider
          value: com.amazonaws.auth.InstanceProfileCredentialsProvider
