{% from "dremio/map.jinja" import dremio with context %}
[Unit]
Description=Dremio Daemon Server
Documentation=https://docs.dremio.com
Wants=network-online.target
After=network-online.target

[Service]
Environment=DREMIO_LOG_DIR=/var/log/dremio
User={{ dremio.user }}
Group={{ dremio.group }}
RuntimeDirectory=/opt/dremio/
ExecStart=/opt/dremio/bin/dremio start-fg
Restart=on-failure
# Set maximum number of file descriptors Dremio can open.
# Dremio requires a large number to work correctly.
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
