{% set dremio = salt.grains.filter_by({
    'default': {
        'pkgs': [''],
        'service': 'dremio',
        'conf_file': '/opt/dremio/conf/dremio.conf',
        'config': {
            'paths': {
                'local': '/var/opt/dremio/data'
            },
            'services': {
            }
        },
        'core_site_config': {},
        'user': 'dremio',
        'group': 'dremio',
        'source': 'https://download.dremio.com/community-server/dremio-community-LATEST.tar.gz'
    },
    'Debian': {
        'pkgs': ['default-jdk-headless']
    },
    'RedHat': {
        'pkgs': ['java-latest-openjdk-headless']
    },
}, grain='os_family', merge=salt.pillar.get('dremio'), base='default') %}
