{% set dremio = salt.grains.filter_by({
    'default': {
        'pkgs': ['dremio'],
        'service': 'dremio',
        'conf_file': '/etc/dremio/dremio.conf',
        'config': {
            'key': 'value',
        },
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('dremio'), base='default') %}
